body{
  margin: 0;
  font-family: 'Source Serif Pro', serif;
}

.nav{
  background-color: #4d4d4d;
  height: 60px;
  margin:0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-right,.nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

.search{
  height: 27px;
  width: 150px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #4d4d4d;
  outline:none;
}

.side-bar{
  display: inline-block;
  position: absolute;
  width: 20vw;
  height: 92vh;
  background-color: lightgray;
  /*border: 1px solid red;*/

}


.index1{
  display: inline-block;
  position: relative;
  margin-left: 20%;
  /*border: 1px solid red;*/
  height: 91vh;
  width: 79vw;
  /*margin-top: -30px;*/
  /*width: 100%;*/
}

.detail{
  display: inline-block;
  position: relative;
  margin-left: 20%;
  /*border: 1px solid red;*/
  height: 91vh;
  width: 79vw;
}

.side-bar-components{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}


li{
  list-style: none;
  margin-bottom: 40px;

}

.swatch-list1{
  display: flex;
  flex-wrap: wrap;
}

.swatch-item{
  padding: 60px;
  padding-bottom: 60px;
  /*border: 1px solid gray;*/
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;

}

.swatch-name{
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.swatch-bundle{
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 7px;
}

.sidebar-list{
  width: 60%;
  /*border:1px solid black;*/
  display: flex;
  flex-direction: column;
  /*justify-content:  space-around;*/
  /*text-align: left;*/
  margin-left: -10px;

}

button{
  width: 100%;
  padding-left: 15px;
  padding-right:15px;
}
